@*@model OnlineTrainTicketBookingMVC.Models.UserViewModel*@

@{
    ViewBag.Title = "Index";
    
}

<div class="box"><h2>@TempData["Message"].ToString()</h2></div>

@*<table border="1">
    <tr>
        <td>Firstname
        <td>LastName</td>
        <td>Age</td>
        <td>Sex</td>
        <td>Email</td>
        <td>Mobile Number</td>
        <td>Password</td>
        <td>Role</td>
    </tr>
    @foreach (OnlineTrainTicketBookingMVC.Models.UserViewModel user in Model)
    {
        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Age</td>
            <td>@user.Sex</td>
            <td>@user.Email</td>
            <td>@user.MobileNumber</td>
            <td>@user.Password</td>
            <td>@user.Role</td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {FirstName = user.FirstName } )
                    @Html.ActionLink("Delete", "Delete", new { FirstName = user.FirstName })
                </td>
        </tr>
    }
</table>*@