<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Train Ticket App</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" href="~/Styles/Style.css" />*@

</head>
<body class="body">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="header">
                @Html.ActionLink("Bon Voyage", "HomePage", "Home", "", new { @class = "option" })
                @Html.ActionLink("Home", "HomePage", "Home", "", new { @class = "option" })
                @Html.ActionLink("SignUp", "SignUp", "Home", "", new { @class = "option" })
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Hello" +@User.Identity.Name.ToString(), "ViewProfile", "User", "", new { @class = "option1" })
                    @Html.ActionLink("SignOut", "SignOut", "Home", "", new { @class = "option" })
                   
                }
                else
                {
                    @Html.ActionLink("SignIn", "SignIn", "Home", "", new { @class = "option" })
                }
                

                @if (HttpContext.Current.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Manage User", "DisplayUser", "ManageUser", "", new { @class = "option1" })
                    @Html.ActionLink("Manage Train", "DisplayTrainDetails", "TrainDetails", "", new { @class = "option" })
                    @Html.ActionLink("Add Train", "Create", "TrainDetails", "", new { @class = "option" })
                    @Html.ActionLink("Add Class", "AddClass", "TrainClass", "", new { @class = "option" })
                }
                @if(HttpContext.Current.User.IsInRole("User"))
                {

                }
            </div>
        </div>
    </div>
    <br />
    <div class="container body-content">
        <br />
        @RenderBody()
        @*<hr />*@
        @*<footer>
                <p>&copy; @DateTime.Now.Year - Train Ticket Application</p>
            </footer>*@
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
