@model IEnumerable<OnlineTrainTicketBookingMVC.Models.TrainClassDetailsViewModel>

@{
    ViewBag.Title = "DisplayTrainCategories";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}



@if (TempData["TrainId"] != null)
{
    TempData.Keep("TrainId");
}

<table class="box" border="1">
    <tr>
        <td><h2>TrainCategories</h2></td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Add TrainClass", "AddTrainClass", new { code = TempData["TrainId"] })</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.ClassId)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.Seats)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.Cost)
        </th>
    </tr>
    @foreach (var data in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => data.TrainClassDetailsId)
            <td>
                @Html.DisplayFor(modelItem => data.ClassId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => data.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => data.Cost)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditTrainClass", new { id = data.TrainClassDetailsId })
                @Html.ActionLink("Delete", "DeleteTrainClass", new { id = data.TrainClassDetailsId }, new { Onclick = "return confirm('Do you need to delete this data ?')" })
            </td>
        </tr>
    }
    <tr>
        <td> @Html.ActionLink("Save", "DisplayTrainDetails", "TrainDetails")</td>
    </tr>
</table>
