@model IEnumerable<OnlineTrainTicketBookingMVC.Models.UserViewModel>

@{
    ViewBag.Title = "DisplayUser";
    
}


<table border="1" class="box">
    
    <tr><td>DisplayUser</td></tr>
    <tr>
        <td>@Html.TextBox("txtSearch", null, new { @placeholder = "Enter User Name..." })</td>
        <td><button class="btn1">Search</button></td>
    </tr>
        <tr>
            <th>UserId</th>
            <th>Firstname</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Password</th>
            <th>Role</th>
            <th>IsActive</th>
        </tr>
        @foreach (var data in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => data.UserId)</td>
                <td>
                    @Html.DisplayFor(modelItem => data.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.MobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = data.UserId })
                    @*@Html.ActionLink("Delete", "DeleteTrainDetails", new { id = data.UserId }, new { Onclick = "return confirm('Do you need to delete this data ?')" })*@
                </td>
            </tr>
        }
    </table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $("button").click(function search() {
        $("#txtSearch").keypress();   
        var txtEnter = $('#txtSearch').val();
        $("table tr").each(function (results) {
            if (results != 0) {
                var id = $(this).find("td:nth-child(2)").text();
                if (id.indexOf(txtEnter) != 0 && id.toLowerCase().indexOf(txtEnter.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        });
    });
</script>
