@model OnlineTrainTicketBookingMVC.Models.UserViewModel

@{
    ViewBag.Title = "Edit";

   
}


@using (Html.BeginForm("Edit", "ManageUser", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <table class="box">
        <tr><td><h2>Edit</h2></td></tr>
        <tr>
            @Html.HiddenFor(modelItem => Model.UserId)
            @Html.HiddenFor(modelItem => Model.FirstName)
            @Html.HiddenFor(modelItem => Model.LastName)
            @Html.HiddenFor(modelItem => Model.Age)
            @Html.HiddenFor(modelItem => Model.Sex)
            @Html.HiddenFor(modelItem => Model.Email)
            @Html.HiddenFor(modelItem => Model.MobileNumber)
            @Html.HiddenFor(modelItem => Model.Password)
            @Html.HiddenFor(modelItem => Model.ConfirmPassword)
            @Html.HiddenFor(modelItem => Model.Role)
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model=>Model.IsActive)
            </td>
            <td>
                @Html.EditorFor(Model => Model.IsActive)
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Save" id="btnSubmit" class="btn"></td>
        </tr>
        <tr><td>
            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Back to List", "DisplayUser")
            }
            </td></tr>
    </table>
}

