@model IEnumerable<OnlineTrainTicketBookingMVC.Models.TrainDetailsViewModel>

@{
    ViewBag.Title = "DisplayTrainDetails";
}

<centre>
    <table class="box" border="1">
        <tr><td><h2>Train Details</h2></td></tr>

        <tr>
            <th>@Html.DisplayNameFor(Model => Model.TrainNo)</th>
            <th>@Html.DisplayNameFor(Model => Model.TrainName)</th>
            <th>@Html.DisplayNameFor(Model => Model.SourceStation)</th>
            <th>@Html.DisplayNameFor(Model => Model.DestinationStation)</th>
            <th>@Html.DisplayNameFor(Model => Model.DepartureTime)</th>
            <th>@Html.DisplayNameFor(Model => Model.ArrivalTime)</th>
            <th>@Html.DisplayNameFor(Model => Model.TrainKM)</th>

        </tr>
        @foreach (var data in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => data.TrainId)
                @Html.HiddenFor(modelItem => data.PerKMCost)
                <td>
                    @Html.DisplayFor(modelItem => data.TrainNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.TrainName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.SourceStation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.DestinationStation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.ArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.TrainKM)
                </td>
               
                <td>
                    @Html.ActionLink("ViewAvailability", "ViewAvailability", new { id = data.TrainId })                   
                </td>
            </tr>
        }
    </table>
</centre>

