@model IEnumerable<OnlineTrainTicketBookingMVC.Models.TrainDetailsViewModel>

@{
    ViewBag.Title = "DisplayTrainDetails";
}

@if (TempData["JourneyDate"] != null)
{
    TempData.Keep("JourneyDate");
}

<centre>
    @*<table class="box" border="1">
        <tr><td><h2>Train Details</h2></td></tr>
       
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.TrainNo)</th>
            <th>@Html.DisplayNameFor(Model => Model.TrainName)</th>
            <th>@Html.DisplayNameFor(Model => Model.SourceStation)</th>
            <th>@Html.DisplayNameFor(Model => Model.DestinationStation)</th>
            <th>@Html.DisplayNameFor(Model => Model.DepartureTime)</th>
            <th>@Html.DisplayNameFor(Model => Model.ArrivalTime)</th>
            <th>@Html.DisplayNameFor(Model => Model.TrainKM)</th>

        </tr>
        </table>*@
        @foreach (var data in Model)
        {
            @*<tr>
                @Html.HiddenFor(modelItem => data.TrainId)
                @Html.HiddenFor(modelItem => data.PerKMCost)
                <td>
                    @Html.DisplayFor(modelItem => data.TrainNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.TrainName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.SourceStation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.DestinationStation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.ArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.TrainKM)
                </td>
               
                <td>
                    @Html.ActionLink("CheckAvailability & Fare", "ViewAvailability", new { id = data.TrainId })                   
                </td>
            </tr>*@

            @*<div class="box">*@
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="col-xs-12">
                            <div>
                                <h2><span>@Html.DisplayFor(modelItem => data.TrainName)</span></h2> <h4>( @Html.DisplayFor(modelItem => data.TrainNo) )</h4>
                            </div>
                        </div>
                        <div>
                            <div>
                                <span>@Html.DisplayFor(modelItem => data.SourceStation)----------><span class="glyphicon glyphicon-arrow-right">@Html.DisplayFor(modelItem => data.DestinationStation)</span></span>
                            </div>
                            <div>
                                <span>Departs on : All Days</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-left: 8%">
                        <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                            <span>
                                <img src="~/Images/Day.png" class="day" />
                            </span>
                            <h5>@Html.DisplayFor(modelItem => data.DepartureTime)</h5>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                            <span>
                                <img src="~/Images/Day.png" class="day" />
                            </span>
                            <h5>@Html.DisplayFor(modelItem => data.ArrivalTime)</h5>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                            <span>
                                <img src="~/Images/Timer.png" class="day" />
                            </span>
                            <h5>@Html.DisplayFor(modelItem => data.TrainKM)</h5>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 text-center">
                        @Html.ActionLink("CheckAvailability & Fare", "ViewAvailability", new { id = data.TrainId })
                    </div>
                </div>
            @*</div>*@

        }
    @*</table>*@
</centre>

