@model OnlineTrainTicketBookingMVC.Models.TicketBookingViewModel

@{
    ViewBag.Title = "BookTicket";
}


@if(TempData["C_Name"] != null)
{
    TempData.Keep("C_Name");
    TempData.Keep("Seat");
    TempData.Keep("Cost");
    TempData.Keep("T_No");
    TempData.Keep("T_Id");
    TempData.Keep("C_Id");
    TempData.Keep("Doj");
}
@using (Html.BeginForm("BookTicket", "TicketBooking", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table class="box">
        <tr><td><h2>BookTicket</h2></td></tr>
        <tr>
            <td>Train No</td>
            <td>@TempData["T_No"].ToString()</td>
        </tr>
        <tr>
            <td>Class Name</td>
            <td>@TempData["C_Name"].ToString()</td>
        </tr>
        <tr>
            <td>No Of Passengers</td>
            <td>
            @Html.TextBoxFor(Model => Model.NoOfPassengers)
            @Html.ValidationMessageFor(M => M.NoOfPassengers, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td>Journey Date</td>
            <td>
                @TempData["Doj"].ToString()
                @*@Html.TextBoxFor(Model => Model.JourneyDate)
                @Html.ValidationMessageFor(M => M.JourneyDate, "", new { @class = "validationMsg" })*@
            </td>
        </tr>
        <tr><td><input type="submit" value="AddPassenger" id="btnSubmit" class="btn"></td></tr>
        </table>
}
