@model OnlineTrainTicketBookingMVC.Models.UserViewModel

@{
    ViewBag.Title = "ChangePassword";
}
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src = "~/scripts/jquery.unobtrusive-ajax.min.js" ></script>
@if(ViewBag.Msg!= null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Msg");
            window.location.href = '/Home/HomePage';
        };
</script>
   
}
@using (Ajax.BeginForm("ChangePassword", "User", new AjaxOptions
{

    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    LoadingElementId = "imgloader",
    OnSuccess = "fnSuccess",

}))
{
    <table class="box">
        <tr>
            @Html.HiddenFor(modelItem => Model.UserId)
            @Html.HiddenFor(modelItem => Model.FirstName)
            @Html.HiddenFor(modelItem => Model.LastName)
            @Html.HiddenFor(modelItem => Model.Age)
            @Html.HiddenFor(modelItem => Model.Sex)
            @Html.HiddenFor(modelItem => Model.MobileNumber)
            @Html.HiddenFor(modelItem => Model.Email)
            @Html.HiddenFor(modelItem => Model.Role)
            @Html.HiddenFor(modelItem => Model.IsActive)
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.Password)
            </td>
            <td>
                @Html.PasswordFor(Model => Model.Password)
                @Html.ValidationMessageFor(M => M.Password, "", new { @class = "validationMsg" })
            </td>
            </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.ConfirmPassword)
            </td>
            <td>
                @Html.PasswordFor(Model => Model.ConfirmPassword)
                @Html.ValidationMessageFor(M => M.ConfirmPassword, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Reset" id="btnSubmit" class="btn"></td>
        </tr>
        </table>
}
<script type="text/javascript">
function fnSuccess() {
    alert("Booo..Success..");
}
</script>