@model OnlineTrainTicketBookingMVC.Models.TrainDetailsViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "TrainDetails", FormMethod.Post))
{
    <table class="box">
        <tr>
            <td>@Html.LabelFor(Model => Model.TrainName)</td>
            <td>
                @Html.TextBoxFor(Model => Model.TrainName, new { @maxlength = 30 })
                @Html.ValidationMessageFor(M => M.TrainName, "", new { @class = "validationMsg" })
            </td>
        </tr>
       
        <tr>
            <td>@Html.LabelFor(Model => Model.SourceStation)</td>
            <td>
                @Html.TextBoxFor(Model => Model.SourceStation, new { @maxlength = 20 })
                @Html.ValidationMessageFor(M => M.SourceStation, "", new { @class = "validationMsg" })
            </td>
        </tr> 
        <tr>
            <td>@Html.LabelFor(Model => Model.DestinationStation)</td>
            <td>
                @Html.TextBoxFor(Model => Model.DestinationStation, new { @maxlength = 20 })
                @Html.ValidationMessageFor(M => M.DestinationStation, "", new { @class = "validationMsg" })
            </td>
        </tr>        
        <tr>
            <td>@Html.LabelFor(Model => Model.DepartureTime)</td>
            <td>
                @Html.EditorFor(Model => Model.DepartureTime)
                @Html.ValidationMessageFor(M => M.DepartureTime, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.ArrivalTime)</td>
            <td>
                @Html.EditorFor(Model => Model.ArrivalTime)
                @Html.ValidationMessageFor(M => M.ArrivalTime, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.TrainClass)</td>
            <td>
                @Html.ListBoxFor(Model => Model.TrainClass, (IEnumerable<SelectListItem>)ViewBag.TrainClass ,"Select")
                @Html.ValidationMessageFor(M => M.TrainClass, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.TrainKM)</td>
            <td>
                @Html.EditorFor(Model => Model.TrainKM)
                @Html.ValidationMessageFor(M => M.TrainKM, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.TotalSeats)</td>
            <td>
                @Html.EditorFor(Model => Model.TotalSeats)
                @Html.ValidationMessageFor(M => M.TotalSeats, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.PerTicketCost)</td>
            <td>
                @Html.EditorFor(Model => Model.PerTicketCost)
                @Html.ValidationMessageFor(M => M.PerTicketCost, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" id="btnSubmit" class="btn"></td>
        </tr>
    </table>
}



