@model IEnumerable<OnlineTrainTicketBookingMVC.Models.TrainDetailsViewModel>

@{
    ViewBag.Title = "DisplayTrainDetails";
    //Layout = "~/Views/Shared/_AdminPage.cshtml";
}



    <table class="box" border="1">
        
        <tr><td><h2>Train Details</h2></td></tr>
        <tr>
            <td>@Html.TextBox("txtSearch", null, new { @placeholder = "Enter Train Name..." })</td>
            <td><button class="btn1">Search</button></td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Add New Train", "Create")</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.TrainNo)</th>
            <th>@Html.DisplayNameFor(Model => Model.TrainName)</th>
            <th>@Html.DisplayNameFor(Model => Model.SourceStation)</th>
            <th>@Html.DisplayNameFor(Model => Model.DestinationStation)</th>
            <th>@Html.DisplayNameFor(Model => Model.DepartureTime)</th>
            <th>@Html.DisplayNameFor(Model => Model.ArrivalTime)</th>
            <th>@Html.DisplayNameFor(Model => Model.TrainKM)</th>
            <th>@Html.DisplayNameFor(Model => Model.PerKMCost)</th>
        </tr>
        @foreach (var data in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => data.TrainId)
                <td>
                    @Html.DisplayFor(modelItem => data.TrainNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.TrainName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.SourceStation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.DestinationStation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.ArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.TrainKM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data.PerKMCost)
                </td>
                <td>
                    @if (HttpContext.Current.User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "EditTrainDetails", new { TrainId = data.TrainId })
                        @Html.ActionLink("Delete", "DeleteTrainDetails", new { TrainId = data.TrainId },
                     new { Onclick = "return confirm('Do you need to delete this data ?')" })
                    }
                    
                </td>
            </tr>
        }
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $("button").click(function search(){
            $("#txtSearch").keypress();
        var txtEnter = $('#txtSearch').val();
        $("table tr").each(function (results) {
            if (results != 0) {
                var id = $(this).find("td:nth-child(3)").text();
                if (id.indexOf(txtEnter) != 0 && id.toLowerCase().indexOf(txtEnter.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                    //search();
                }
            }
        });
    });
    </script>

