@model OnlineTrainTicketBookingMVC.Models.TrainDetailsViewModel

@{
    ViewBag.Title = "EditTrainDetails";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>EditTrainDetails</h2>
@using (Html.BeginForm("EditTrainDetails", "TrainDetails", FormMethod.Post))
{
    @Html.AntiForgeryToken()
   
    <table class="box">
        
        <tr>
            @Html.HiddenFor(modelItem => Model.TrainId)
            <td>@Html.DisplayNameFor(Model => Model.TrainNo)</td>
            <td>
                @Html.EditorFor(Model => Model.TrainNo)
                @Html.ValidationMessageFor(M => M.TrainNo, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(Model => Model.TrainName)</td>
            <td>
                @Html.EditorFor(Model => Model.TrainName)
                @Html.ValidationMessageFor(M => M.TrainName, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(Model => Model.SourceStation)</td>
            <td>
                @Html.EditorFor(Model => Model.SourceStation)
                @Html.ValidationMessageFor(M => M.SourceStation, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(Model => Model.DestinationStation)</td>
            <td>
                @Html.EditorFor(Model => Model.DestinationStation)
                @Html.ValidationMessageFor(M => M.DestinationStation, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(Model => Model.DepartureTime)</td>
            <td>
                @Html.EditorFor(Model => Model.DepartureTime)
                @Html.ValidationMessageFor(M => M.DepartureTime, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(Model => Model.ArrivalTime)</td>
            <td>
                @Html.EditorFor(Model => Model.ArrivalTime)
                @Html.ValidationMessageFor(M => M.ArrivalTime, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(Model => Model.TrainKM)</td>
            <td>
                @Html.EditorFor(Model => Model.TrainKM)
                @Html.ValidationMessageFor(M => M.TrainKM, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(Model => Model.PerKMCost)</td>
            <td>
                @Html.EditorFor(Model => Model.PerKMCost)
                @Html.ValidationMessageFor(M => M.PerKMCost, "", new { @class = "validationMsg" })
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Save" id="btnSubmit" class="btn"></td>
        </tr>
        <tr>@Html.ActionLink("Back to List", "DisplayTrainDetails")</tr>
    </table>
}
